NEXT_PUBLIC_SUPABASE_URL=https://njsrlykklqqanqqcqklo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qc3JseWtrbHFxYW5xcWNxa2xvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMTM2OTcsImV4cCI6MjA3ODg4OTY5N30.A30trZhFsazi9nzsdaZxKEUNLyOCmRJ49KjjjlUN9rU
SUPABASE_SERVICE_ROLE_KEY=<-add-service-role-key-here>
